.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.Note{
    font-size: 20px;
    color: black;
}

.footer {
    position: fixed;
    color: white;
    background-color: rgb(27, 19, 75);
    bottom: 0;
    line-height: 3;
    text-align: center;
    width: 100%;
    font-size:20px ;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;

}